.button
	background-color: $light-gray
	border: 1px solid darken($light-gray, 10%)

	&.is-danger
		background-color: $danger
		border: 1px solid darken($danger, 10%)

	&.is-fun
		background-color: $fun
		border: 1px solid darken($fun, 10%)

	&.is-info
		background-color: $info
		border: 1px solid darken($info, 10%)

	&.is-link
		background-color: $link
		border: 1px solid darken($link, 10%)

	&.is-primary
		background-color: $primary
		border: 1px solid darken($primary, 10%)

	&.is-success
		background-color: $success
		border: 1px solid darken($success, 10%)

	&.is-warning
		background-color: $warning
		border: 1px solid darken($warning, 10%)

	&.is-wild
		background-color: $wild
		border: 1px solid darken($wild, 10%)