.button
	background-color: $less-white
	border: 1px solid darken($less-white, 10%)
	cursor: pointer
	padding: 0.375rem 0.75rem
	text-align: center

	&:hover
		background-color: darken($less-white, 10%)
		border-color: darken($less-white, 20%)

	&.is-danger
		background-color: $danger
		border-color: darken($danger, 10%)
		color: $white

		&:hover
			background-color: darken($danger, 10%)
			border-color: darken($danger, 20%)
			color: darken($white, 10%)

	&.is-fun
		background-color: $fun
		border-color: darken($fun, 10%)
		color: $white

		&:hover
			background-color: darken($fun, 10%)
			border-color: darken($fun, 20%)
			color: darken($white, 10%)

	&.is-info
		background-color: $info
		border-color: darken($info, 10%)
		color: $white

		&:hover
			background-color: darken($info, 10%)
			border-color: darken($info, 20%)
			color: darken($white, 10%)

	&.is-link
		background-color: $link
		border-color: darken($link, 10%)
		color: $white

		&:hover
			background-color: darken($link, 10%)
			border-color: darken($link, 20%)
			color: darken($white, 10%)

	&.is-primary
		background-color: $primary
		border-color: darken($primary, 10%)
		color: $white

		&:hover
			background-color: darken($primary, 10%)
			bborder-color: darken($primary, 20%)
			color: darken($white, 10%)

	&.is-success
		background-color: $success
		border-color: darken($success, 10%)
		color: $white

		&:hover
			background-color: darken($success, 10%)
			border-color: darken($success, 20%)
			color: darken($white, 10%)

	&.is-warning
		background-color: $warning
		border-color: darken($warning, 10%)

		&:hover
			background-color: darken($warning, 10%)
			border-color: darken($warning, 20%)

	&.is-wild
		background-color: $wild
		border-color: darken($wild, 10%)
		
		&:hover
			background-color: darken($wild, 10%)
			border-color: darken($wild, 20%)