.section
	display: block
	margin-bottom: 25px
	margin-top: 25px
	padding-bottom: 25px
	padding-top: 25px
	width: 100%

	&.is-danger
		background-color: $danger
		color: $white

	&.is-fun
		background-color: $fun
		color: $white

	&.is-info
		background-color: $info
		color: $white

	&.is-link
		background-color: $link
		color: $white

	&.is-primary
		background-color: $primary
		color: $white

	&.is-success
		background-color: $success
		color: $white

	&.is-warning
		background-color: $warning
		color: $white

	&.is-wild
		background-color: $wild
		color: $white